body,
html {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

h1 {
  font-size: 3em;
  color: #3669f7;
  margin-top:3rem;
font-family: 'SEGA LOGO FONT';
}

.punch {
  height:50vh;
  padding-bottom:10rem;
  z-index:5;
}

button{ 
  background-color: #3669f7;
  border-width:0px;
  padding:0.5rem 2rem;
  color:white;
}

hr {
  border-color: #3669f7;
  border-width: 4px;
  max-width: 420px;
  margin:3rem auto;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary:hover {
background-color: #3669f7 ;   
border-width: 10px;
transition: linear;
}

.btn-xl {
  padding: 1rem 2rem;
}

header {
  position: relative;
  background-color: black;
  height: 100%;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
 
}

header .container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.footer {
  width: 60%;
} 

.foot-item {
  color:white;
  /* padding-top:1rem; */
  padding-bottom:3rem;
}

.foot-item h1 {
  margin:0;
}

.baer img{
  height:100px;
  margin:auto 0;
  vertical-align: center;
  padding: 25px auto;
}

.face img {
  height:120px;
}



/* Content Section */

.content-box {
  padding:0rem;
}

.content {
  background-color: #f6f7f2;
  width:100%;
  height:auto;
  opacity:1;
  margin-left:0 0;
  font-size:1.5rem;
}

.content-head {
  background-color:#f6f7f2;
  margin:0;
  padding:0;
}

.content h1 {
  margin-top:0;
  padding:0;
}


.content-top {
  padding-top:1rem;
}

.content .bottom {
  padding-bottom:2rem
}

.content img {
  height:240px;
}

.action {
  font-size: 3em;
  color: #3669f7;
font-family: 'SEGA LOGO FONT';
margin-top:5rem;
}




/* Dynamic Questionaire */


.mm-survey {
	margin-top: 75px;
	margin-bottom: 50px;
}

.mm-survey-container {
	width: 100%;
	min-height: 600px;
	background: #fafafa;
}

.mm-survey-results-container {
	width: 100%;
	min-height: 600px;
	background: #fafafa;
	padding: 5px 0px 15px;
}

.mm-survey-page {
	display: none;
	font-family: 'Raleway';
	font-weight: 100;
	padding: 40px;
}

.mm-survey-page.active {
	display: block;
}

.mm-survey-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-survey-results-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-back-btn {
	display: inline-block;
    position: relative;
    float: left;
}

.mm-prev-btn {
	display: inline-block;
    position: relative;
    float: left;
}

.mm-next-btn {
	display: inline-block;
    position: relative;
    float: right;
}

.mm-finish-btn {
	display: none;
    position: relative;
    float: right;
}

.mm-finish-btn button {
	background: #3DD2AF !important;
    color: #fff;
}

.mm-survey-controller button {
	background: #fff;
    border: none;
    padding: 8px 18px;
    font-family: 'Raleway';
    font-weight: 300;
    border-radius: 4px;
}

.mm-survey-results-controller button {
	background: #fff;
	border: none;
	padding: 8px 18px;
}

.mm-survey-progress {
	width: 100%;
	height: 30px;
	background: #f5f5f5;
	overflow: hidden;
}

.mm-progress {
	transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
	height: 30px;
    width: 0%;
    background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-q {
	list-style-type: none;
	padding: 0px;
}

.mm-survey-q li {
	display: block;
	/*padding: 20px 0px;*/
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
}

.mm-survey-q li input {
	width: 100%;
}

.mm-survery-content label {
	width: 100%;
	padding: 10px 10px;
	margin: 0px !important;
}

.mm-survery-content label:hover {
	cursor: pointer;
}

.mm-survey-question {
	min-height: 100px;
}

.mm-survey-question p {
	font-size: 22px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 40px;
}

.mm-survery-content label p {
	display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    margin: 0px;
}

.mm-dynamic-input input, .mm-dynamic-form input, .mm-dynamic-datetime input {
	width: 100%;
    height: 52px;
    border: none;
    text-indent: 15px;
    font-size: 18px;
}

.mm-dynamic-input input:focus, .mm-dynamic-form input:focus, .mm-dynamic-datetime input:focus {
	outline: none;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	color: #292321;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 2px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

input[type="radio"] + label span {
 	background-color: #333;
}

input[type="radio"]:checked + label span {
	border: 2px solid #3DD2AF;
	background: transparent;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
	-webkit-transition: background-color 0.20s ease-in-out;
	-o-transition: background-color 0.20s ease-in-out;
	-moz-transition: background-color 0.20s ease-in-out;
	transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
	background: #fff;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(33,33,33,0.15);
    border-radius: 0px 0px 4px 4px;
}

.mm-prev-btn button:focus, .mm-next-btn button:focus, .mm-finish-btn button:focus {
	outline: none;
	border: none;
}

.mm-survey.okay .mm-next-btn {
	display: inline-block;	
}

.mm-next-btn button {
  opacity: 0.5;
  color:white;
}

.mm-next-btn button.ready {
	background: linear-gradient(to left, #4CB8C4, #3CD3AD);
	color: #fff;
	opacity: 1;
}

.mm-finish-btn.active {
	display: inline-block;
}

.mm-survey-results {
	display: none;
}

.mm-survey-results-score {
    /* display: none; */
    margin: 0px;
    padding: 20px 0px;
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway';
    /* font-weight: 600; */
    /* letter-spacing: -6px; */
}

.mm-survey-results-list {
	list-style-type: none;
	padding: 0px 15px;
    margin: 0px;
}

.mm-survey-results-item {
	color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
    font-family: 'Raleway';
    font-weight: 300;
}

.mm-survey-results-item.correct {
	background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-results-item.incorrect {
	background: linear-gradient(to left, #d33c62, #dc1144);
}

.mm-item-number {
	height: 40px;
	position: relative;
	padding: 17px;
	background: #333;
	color: #fff;
}

.mm-item-info {
	float: right;
}